.montserrat-<uniquifier > {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.fraunces-<uniquifier > {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

/* Global styling */
:root {
  /* Primary Color */
  --c-green-500: hsl(158, 36%, 37%);
  --c-green-700: hsl(158, 42%, 18%);

  /* Neutral Colors */
  --c-black: hsl(212, 21%, 14%);
  --c-grey: hsl(228, 12%, 48%);
  --c-cream: hsl(30, 38%, 92%);
  --c-white: hsl(0, 0%, 100%);

  /* Fonts */
  --f-montserrat: "Montserrat", sans-serif;
  --f-fraunces: "Fraunces", serif;

  /* Typography Preset */
  /* Syntax: [font-weight] [font-size]/[line-height] [font-family] */
  --text-preset-1: 700 2rem/100% var(--f-fraunces);
  --text-preset-2: 700 0.875rem/ 110% var(--f-montserrat);
  --text-preset-3: 500 0.875rem/ 160% var(--f-montserrat);
  --text-preset-4: 500 0.75rem/ 120% var(--f-montserrat);
  --text-preset-5: 500 0.8125rem/ 120% var(--f-montserrat);
}

/* Global Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: var(--c-cream);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.picture img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  @media (min-width: 700px) {
    border-radius: 8px 0 0 8px;
    height: 100%;
  }
}

.wrapper {
  width: 100%;
  max-width: 600px;
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  @media (min-width: 700px) {
    flex-direction: row;
    max-width: 600px;
  }
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media (min-width: 700px) {
    width: 100%;
    padding: 2rem;
  }
}

.content .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text .h1 {
  font: var(--text-preset-1);
  color: var(--c-black);
}

.text p:first-child {
  font: var(--text-preset-4);
  color: var(--c-grey);
  letter-spacing: 5px;
}

.text p:last-child {
  font: var(--text-preset-3);
  color: var(--c-grey);
}

.pricing {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.pricing h2 {
  font: var(--text-preset-1);
  color: var(--c-green-500);
}

.pricing p {
  font: var(--text-preset-5);
  color: var(--c-grey);
  text-decoration: line-through;
  padding-block: 0.5rem;
}

.mybutton {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--c-green-500);
  color: var(--c-white);
  font: var(--text-preset-2);
  border-radius: 8px;
  padding-block: 1.094rem;
}

.mybutton:hover {
  background-color: var(--c-green-700);
}
